.mid {
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4%;
}

.underline {
  text-decoration: none; 
  position: relative; 
}  

.underline:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -10px; 

  margin: 0 auto;
left: 0;
  right: 0;
width: 50%;
background: black;
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.underline:hover:after {
  width: 80%;
  background: white;
 }

 .main{
  margin: 0% 9% 0% 9%;
  min-height: 50vh;
}
.title{
  font-family: 'Rowdies', cursive;
  font-size: 40px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
.main{
  margin: 0% 3% 0% 3%;
  min-height: 70vh;
}
  .title{
      font-family: 'Rowdies', cursive;
      font-size: 30px;
      text-transform: uppercase;
  }
  .container1{
    display: grid;
    grid-gap:10px !important;
    grid-template-columns: repeat(2, 1fr) !important;
}

}
@media (min-width: 768px) and (max-width: 1024px) {

  .container1{
    display: grid;
    grid-gap:10px !important;
    grid-template-columns: repeat(3, 1fr) !important;
}
  
}


@media (min-width: 300px)and(max-width: 1200px) {
  .category-name{
    font-family: 'Rowdies', cursive;
    font-size: 20px !important;
    text-transform: uppercase;

  }
  .productimg{
    width: 90%;
    height: 230px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }

  
  
}
  
  .container1{
    margin: 6%;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(5, 1fr) ;
}
.layout-box{
  background: white;
  color: black;
  min-height:325px;
  height: auto;
    // background-size: cover; 
    position: relative;
    border-radius: 16px;
    // box-shadow: 0 0 3em rgba(0,0,0,0.15);
    display: grid;
    grid-template-rows: auto 1fr auto;

    margin: 7% 0 7% 0;
    &.grow {
      transition: all .5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        z-index: 10;
        
      }
    }
}

.layout-box:hover{
  background: whitesmoke;
  cursor: pointer;
  // border: 2px solid whitesmoke;
  color: black;
  min-height: 350px;
  height: auto;
    // background-size: cover; 
    position: relative;
    border-radius: 16px;
    // box-shadow: 0 0 3em rgba(0,0,0,0.15);
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 7% 0 7% 0;
}



.category-name{
  font-family: 'Rowdies', cursive;
  font-size: 40px;
  text-transform: uppercase
}




.footer {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  padding-top: 100px !important
  ;

  text-align: center;
  
}

.productimg{
  width: 100%;
  height: 230px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}




.content {
  background: #fff;
  padding: 1rem;
  // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
}


