<br><br>
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span style="color:white"> 400081, Mumbai</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span style="color:white">8007311131</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span style="color:white">info@earthenflavours.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <div class="footer-widget-heading">
                                <h3>About us</h3>
                            </div>
                        </div>
                        <div class="footer-text">
                            <p style="color:white">The word 'Earthen Flavours’ wafts up images of elaborate feasts, exotic aromas, festive recipes, tempting garnishes; in other words cultures of

                                various regions, its taste and beauty. Earthen Flavours (EF) was a dream nurtured to bring into market products from our interiors / villages of India
                                
                                and across the globe. <a href="" routerLink="/about" style="color: #809a15;">more</a></p>
                        </div>
                        <div class="footer-social-icon">
                            <div class="footer-widget-heading">
                                <h3>Follow us</h3>
                            </div>
                            <a href="https://www.facebook.com/Earthen-Flavours-101562221581765/"><i class="fab fa-facebook facebook-bg"></i></a>
                            <a href="https://instagram.com/earthren_flavours?igshid=1xcumihg8dt03"><i class="fab fa-instagram instagram-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#" routerLink="">Home</a></li>
                            <li><a href="#" routerLink="/about">About</a></li>
                            <li><a href="#" routerLink="/career">Career</a></li>
                            <li><a href="#" routerLink="/contact">Contact</a></li>
                            <li><a href="#" routerLink="/products">Our Products</a></li>
                            <li><a href="#" routerLink="/cart">Cart</a></li>
                            <li><a href="#" routerLink="/orders">Orders</a></li>
                            <li><a href="#" routerLink="/faq">Terms and Conditions</a></li>
                        </ul>
                    </div>
                   </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p style="color:white" >Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram"></i></button>
                            </form>
                        </div>
                    </div><br><br>
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Payment Options</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>
                                <img src="../../../assets/img/payments/visa.svg" alt="" style="width: 50px;height: 40px;"> &nbsp;
                                <img src="../../../assets/img/payments/master-card.svg" alt="" style="width: 50px;height: 40px;">&nbsp;
                                <img src="../../../assets/img/payments/rupay-logo.svg" alt="" style="width: 50px;height: 40px;">&nbsp;
                                <img src="../../../assets/img/payments/upi.svg" alt="" style="width: 50px;height: 40px;">&nbsp;
                            </p>
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
            <div class="copyright-text" id="content-mobile"><br>
                <p>Copyright &copy; 2020,  <a href="https://www.zinfinity.in/" target="_blank">Design & Develop by Zinfinity Technology. All Rights Reserved</a></p>
                <br>
            </div>
        </div>
    </div>
    <div class="copyright-area" id="content-desktop">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020,  <a href="https://www.zinfinity.in/" target="_blank">Designed & Developed by Zinfinity Technologies LLP. All Rights Reserved</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/about">About</a></li>
                            <li><a routerLink="/career">Career</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
